version: '2'
services:
  curator:
    image: registry.gitlab.com/devops_containers/dockers/curator:5.8.4-v1.0.0
    build: 
      context: build/curator/.
      args:
        IMAGE_TAG: "alpine:3.6"
        APP_VERSION: "5.8.4"
    container_name: curator